* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #1b1a1a;
	color: rgb(13, 236, 25);
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}

main {
	height: 90vh;
}
