* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #fff;
	background-color: #1e1d23;
	font-size: 34px;
}

.p1,
.p2 {
	display: none;
}
